main {
    padding-top: 5px;
    margin-top: 3px;
}

.heading_level_1 {
    font-size: 33px;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    font-family: 'Steelface';
    line-height: 38px;
}

iframe {
    width: 85% !important;
    height: auto !important;
    min-height: 480px;
}

.sectionContent {
    padding: 10px !important;
    justify-content: center !important;
}