/** FONTS **/
@font-face {
  font-family: 'Steelface';
  src: url('/sandbox/fonts/steelfish/steelfish_rg.ttf')  format('truetype');
}

/** COMMON STYLES **/

a, *[role=button] {
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out; 
}

html, body {
    margin: 0 auto;
    padding: 0;
    background-color: #222;
    background: url('/sandbox/images/blueprintbg_new.jpg') repeat;
    font-family: 'Open Sans', sans-serif;;
    font-weight: 300;    
    font-size: 1rem;
    overflow-x: hidden;
}

main {
   margin: 10px auto;
   border-radius: 3px;
   width: 95%;
   display: flex; 
   justify-content: center;
   padding: 35px 0 0 15px;
   /* border: solid 1px #ff9c06; */
}

fieldset {
    display: flex;
    flex-flow: row;
    border: 0;
}

fieldset legend {
    font-size: .95rem;
    font-weight: 400;
    padding: 0;
    border-bottom: solid 1px #e9e9e9;
    display: block;
    width: 100%;
}

fieldset div {
    flex-basis: 50%;
}

fieldset input[type=checkbox] {
    display: inline-block;
}

fieldset label {
    display: inline-block;
    font-size: .8rem;
    font-weight: 300;
}

main article {
    width: 97%;
    /* background-color: #b9d27f; */
    background-color: #eff4e3;
    border: solid 1px #444;
    border-radius: 3px;
    margin-bottom: 45px;
    min-height: 150px;
}

header {
    display: block;
}

nav {
    font-family: 'Steelface';
    display: block;
    background-color: #000;
    height: 50px;
    width: 100%;
    border-bottom: solid 1px #2c3e50;
    color: #fff;
}

nav ul {
    margin: 0;
    padding: 5px 0 0 10px;
    list-style: none;
    display: flex;
    justify-content: center;    
}

nav ul li {
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 26px;
    letter-spacing: 1px;
}

nav ul li a img {
    width: 8px;
    vertical-align: middle;
}

nav ul li a:hover, nav ul li a:focus, footer a:hover, footer a:focus {
    text-decoration: underline;
    /*outline: dotted 1px #ff9c06;*/
    outline: dotted 1px #fff;
    color: #ff9c06;
    outline-offset: 3px;
}

/** FOOTER **/
footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 200px;
    background-color: #000;
    color: #fff;
    font-family: 'Open Sans', sans-serif;;
    font-weight: 300;        
}

footer div {
    flex-basis: 32%;
    flex-grow: 0;
    padding: 10px;
    border-right: solid 2px #111 ;
}

footer div ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer div ul li {
    margin: 5px 0 10px 2px;
}

footer a {
    color: #fdfdfd;
    text-decoration: none;
    /*font-size: 12px;*/
}

footer div p {
    padding: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Steelface';
    letter-spacing: .08rem;
}

h1 {
    font-size: 32px;
    padding: 0;
    margin: 0;
}

h1 img {
    position: absolute;
    top: 38px;
    left: 35px;
}

h2 img {
    width: 22px;
    margin-right: 10px;
    vertical-align: unset;
}

h2.header img {
    width: 160px;
    margin-right: 0;
    vertical-align: sub;
}

h3 {
    font-size: .95rem;
    font-family: 'Open sans', sans-serif;
    letter-spacing: 0;
}

iframe {
    border: 0;
    width: 100%;
    box-shadow: #000 0 0 2px 1px;
}

label {
    display: block;
    font-weight: 500;
    /*font-size: 13px;*/
}

input[type=text], input[type=password], input[type=search], input[type=email], textarea, select {
    border-radius: 3px;
    box-shadow: #ccc 0 0 2px 1px;
    /*font-size: 16px;*/
    font-weight: 300;
    width: 99%;
    height: 30px;
    font-family: 'Open Sans', sans-serif;;
    border: 0;
    padding: 5px;
    border: solid 1px #ccc;
    font-size: .8rem;
}

input[aria-invalid=true], select[aria-invalid=true], textarea[aria-invalid=true] {
    box-shadow: #c00 0 0 2px 1px;
    border: solid 1px #c00;
}

select {
    height: 45px;
}

textarea {  
    line-height: 30px;
}

main section {
    width: 99%;
    display: block;
    border-radius: 3px;
    box-shadow: #666 0 0 2px 1px;
    padding: 0;
    margin: 0 0 45px 0;
    background-color: #fff;
}


section h2, article h2 {
    color: #fff;
    margin: -25px 0 0 7px;
    padding: 0 10px 2px 10px;
    display: inline-block;
    border-radius: 2px;
    margin-top: -25px;
    /* box-shadow: #444 0 0 2px 1px; */
    font-size: 1.9rem;
    background-color: #09191e;
}

section h2.header, article h2.header {
    background-color: none;
    color: #fff;
    margin: 0;
    padding: 0;
    display: inline-block;
    border-radius: 2px;
    margin-top: -25px;
    /* box-shadow: #444 0 0 2px 1px; */
    font-size: 1.9rem;    
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

a i {
    vertical-align: bottom;
}



/** COMPONENTS **/

html body div.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 123;
    background-color: #333;
    opacity: .7;
    display: none;
}

.reminderModal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 123;
    background-color: #333;
    opacity: .2;
    display: none;
}

html body div.dialog {
    display: none;
    margin: 10px auto;
    background-color: #fff;
    box-shadow: #ff9c06 0 0 3px 2px;
    width: 35%;
    min-height: 120px;
    z-index: 23335;
    position: absolute;
    left: 35%;
    top: 15%;
}

html body div.dialog h2 {
    margin: 0 0 10px 0;
    padding-left: 5px;
    font-family: 'Open sans', sans-serif; 
    letter-spacing: 0;
    font-weight: 300;
    border-bottom: solid 1px #ccc;
}

html body div[data-dialog-id] {
    width: 70%;
    left: 15%;
    top: 5%;
}

div[data-dialog-id=photos] {
    width: 50% !important;
    left: 25% !important;
    top: 10px !important;
    text-align: center;
    box-shadow: #000 0 0 30px 2px !important;
    color: #fff !important;
    border-radius: 5px;
}

div[data-dialog-id=photos] a.closeDialog {
    color: #fff !important;
}

div[data-dialog-id=photos] div.showHide div {
    padding: 25px;
    background-color: #111;
}

div[data-dialog-id=photos] div.showHide div img {
    box-shadow: #fff 0 0 3px 1px;
    border-radius: 3px;
}

div[data-dialog-id=headshot], div[data-dialog-id=scriptUpload], div[data-dialog-id=addResource] {
    width: 30% !important;
    left: 35% !important;
    top: 20px !important;
}

.dialog input, .dialog select, .dialog textarea {
    width: 96%;
}

.dialog textarea {
    min-height: 100px;
}

html body div[data-dialog-id] .results h3 {
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    padding-left: 10px;
    border-bottom: solid 1px #e9e9e9;
}

html body div[data-dialog-id] .results div {
    display: none;
}

html body div[data-dialog-id] .results ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

html body div[data-dialog-id] .results ul li {
    padding: 5px;
}

html body section, html body article {

}

html body main div.r100 {
    flex-basis: 100%;
}

html body main div.r90 {
    flex-basis: 90%;
}

html body main div.r80 {
    flex-basis: 80%;
}

html body main div.r75 {
    flex-basis: 75%;
}

html body main div.r70 {
    flex-basis: 70%;
}

html body main div.r60 {
    flex-basis: 60%;
}

html body main div.r50 {
    flex-basis: 50%;
}

.half {
    width: 48%;
    display: inline-block;
    margin: 5px;
    vertical-align: top;
}

.full {
    width: 98%;
    display: block;
    margin: 5px;
}

#myAccount textarea {
    min-height: 200px;
}

html body main div.r40 {
    flex-basis: 40%
}

html body main div.r25 {
    flex-basis: 25%;
}

html body main div.r20 {
    flex-basis: 20%;
}

*[role=button]:hover {
    cursor: pointer;
}



/** EVENT STYLES **/
a:focus {
    text-decoration: underline;
}

/** HEADER STYLES **/


html body header div[role=presentation] {
    background-color: #ffa600;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    height: 35px;
    width: 100%;
}

html body header div[role=presentation] img {
    height: 22px;
    vertical-align: middle;
    padding: 2px;
    margin-right: 5px;
}

html body header div[role=presentation] span {
    flex-basis: 30%;
    font-weight: 400;
    font-family: 'Steelface';
    margin-top: 5px;
    text-align: right;
    padding-right: 100px;
    font-size: 1.3rem;
}

header div[role=banner] {
    height: 260px;
    background: url('/sandbox/images/tfa_head_bg_res.jpg') no-repeat;
    display: block;
    background-size: cover;
}

header div[role=banner] h1 img {
    width: 240px;
    position: absolute;
    left: 100px;
    top: 45px;

}

header span.adminDisplay {
    position: absolute;
    right: 0;
}

header span.adminDisplay img {
    width: 24px;
}



.tfa_headshot {
    width: 50px;
    height: 50px;
    background: url(../images/users.svg) no-repeat;
    border-radius: 50%;
    position: absolute;
    background-size: cover;
    background-position: top center;
    margin-top: -10px;
    box-shadow: #000 0 0 3px 2px;
    background-color: #fff;
    outline: 0;
}

#article_user .tfa_headshot:hover, #article_user .tfa_headshot:focus, #article_user .tfa_headshot:active {
    box-shadow: #ff9b05 0 0 10px 2px;
    outline: 0;
}

nav ul li.bordered {
    border-left: solid 1px #2c3e50;
}


img.autoWidth {
    width: auto;
    vertical-align: initial;
}



/** COMMON ELEMENTS STYLES **/



#filmSpotlight iframe {
    height: 400px;
}



/** HOMEPAGE STYLES **/



html body main article h2 {
    font-size: 1.5rem;
}

main section div.sectionContent {
    display: flex;
    flex-flow: row;
    justify-content: left;
    width: 100%;
    margin-top: 10px;
}

main section div.form {
    flex-flow: column;
}

main section div.form div.container {
    flex-basis: 100%;
    margin: 10px 10px 25px 10px;
}

main section div.form div.container div {
    /*flex-basis: 100%;*/
}

main section div.form div.half {
    width: 45%;
}

main section div.form div.half:nth-child(even) {
    margin-left: 10%;
    width: 30%;
}

main section div.sectionContent div.banner {
    flex-basis: 60%;
    padding: 10px;
}

main section#latestNews div.banner {
    flex-basis: 38%;
    padding: 5px;
}

main section div.sectionContent div.row {
    padding: 10px;
    flex-basis: 100%;
}

div.banner img {
    width: 100%;
    box-shadow: #444 0 0 2px 1px;
}

#latestNews div.banner {
    text-align: center;
}

#latestNews div.banner img {
    width: 85%;
}

div.sectionContent div.article {
    flex-basis: 35%;
    padding: 5px;
    border-radius: 3px;
    border: solid 1px #e9e9e9;
}

#upcomingEvents div.sectionContent div.article {
    flex-basis: 60%;
}

#upcomingEvents div.sectionContent div.banner {
    flex-basis: 35%;
}

#upcomingEvents {
    font-family: 'Open Sans', sans-serif;
}

section#latestNews div.article {
    flex-basis: 60%;
    padding: 10px;

}

div.film {
    flex-basis: 19%;
    margin: 0 5px 0 5px;
    text-align: center;
    margin-bottom: 25px;
}

div.film .filmTitle {
    display: block;
    font-weight: 700;
    font-family: 'Steelface';
    letter-spacing: 1px;
    margin-top: 10px;
}

div.article h3 {
    margin: 2px 0 10px 2px;
    border-bottom: solid 1px #444;
    font-size: 1.6rem;
}

h3 a {
    color: #000;
    text-decoration: none;
}

div.actions {
    margin-top: 12px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    border-top: solid 2px #eee;
    border-bottom: solid 2px #eee;
    padding: 5px 0 5px 0;
}

div.actions span {
    flex-basis: 25%;
    text-align: center;
}

#upcomingEvents div.actions span img {
    width: 36px;
}

div.verdict {
    margin-top: 10px;
    border-bottom: solid 2px #eee;    
}

div.verdict h3 img {
    width: 24px;
    margin-right: 5px;
}

main section p {
    padding: 5px 5px 10px 10px;
    /*font-size: 12px;*/
}



ul.eventList li {
    margin-top: 25px;
    /*border-bottom: solid 1px #ccc;*/
}
 ul.eventList li:nth-child(1) {
    margin-top: 5px;
 }

ul.eventList li h3 {
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #e9e9e9;
    margin: 0;
    background: url(../images/article_bg_small.png) no-repeat;
    color: #fff;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 300;
    background-size: cover;
    font-family: "Steelface";
}

ul.eventList li h3 a {
    color: #fff;
    text-decoration: none;
}

ul.eventList li h3 span {
    margin-right: 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    display: none;    
}

ul.eventList li h3 img {
    width: 24px;
    vertical-align: bottom;
    padding-left: 10px;
}

ul.eventList li div {
    padding: 5px;
}

ul.benefits li {
    padding: 15px;
    border: solid 2px #eee;
    width: 95%;
    margin-left: 5px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;;    
}

ul.benefits li img {
    width: 36px;
    vertical-align: middle;
    padding-right: 10px;
}

ul.benefits li p {
    margin: 0 0 10px 45px;
    font-weight: 400; 
    display: block;   
}

ul[role=tabset] {
    list-style:none;
    margin: 25px 0 0 10px;
    padding: 0;
    text-align: center;
}

ul[role=tabset] li{
    display: inline-block;  
}

ul[role=tabset] li a[role=tab] {
    padding: 7px;
/*    border-width: 2px 2px 0 2px;
    border-color: #222;
    border-style: solid;
    border-radius: 3px 3px 0px 0px;*/
    display: block;
    color: #000;
    border-bottom: solid 1px #ccc;
    text-decoration: none;
    margin-bottom: 10px;
    min-width: 100px;
    margin-right: 5px;
    /*box-shadow: #333 0 0 2px 1px;*/
}

ul[role=tabset] li a[aria-selected=true] {
    color: #000;
    font-weight: 500;
    border-bottom: solid 2px #DD7B00;
}

ul.postLinks {
    margin: 10px 0 0 0;
}

ul.postLinks li {
    margin-bottom: 10px;
}

ul.postLinks li a {
    padding: 5px;
    color: #000;
    text-decoration: none;
    font-size: .93rem;
}

ul.postLinks li a:hover, ul.postLinks li a:focus {
    text-decoration: underline;
    outline: 0;
}

ul.postLinks li a img {
    width: 14px;
}

#myAccount div[role=tabpanel] {
    display:none;
    padding: 20px;
    border: solid 1px #000;
    margin: 0 15px 10px 8px;
    border-radius: 0 3px 0 0; 
    box-shadow: #222 0 0 2px 1px;   
    flex-flow: row;
    flex-wrap: wrap;
    min-height: 300px;
}

#myAccount div[role=tabpanel] h3, div.form h3 {
    border-bottom: solid 1px #e9e9e9;
    font-size: 1.5rem;
    font-style: italic;
    text-transform: uppercase;
}

div.eventTimes {
    /*font-size: 12px;*/
    font-weight: 500;
}

div.eventTimes span {
    font-size: .85rem;
    display: inline-block;
}

div.eventTimes span:nth-child(1) {
    font-weight: 700;
    font-style: italic;
    color: #666;
    margin-right: 15px;
    font-size: .95rem;
}

div.eventTimes span:nth-child(2) {
    width: 48%;
}

div.eventLocation {
    /*font-size: 12px;*/
}

#loginAside ul li {
    padding: 0 0 0 10px;
    margin: 0 0 15px 0;
    border-bottom: solid 2px #eee;
}


.banner iframe {
    /*height: 400px;*/
}


/** FULL STYLES **/

.white {
    color: #fff;
}

.black {
    color: #000;
}

.darkblue {
    color: #2c3e50;
}

.orange {
    color: #ff5f32;
}

.red {
    color: #c00;
}

.instructions {
    font-size: .9rem;
    font-style: italic;
    display: inline-block;
}

.inputErrorMsg {
    display: none;
    font-weight: 500;
}

.required {
    vertical-align: super;
}

.byline {
    font-size: 12px;
    color: #555;
    font-style: italic;
    text-align: right;
    font-weight: 700;
}

.commentsDisplay {
    font-size: 11px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

.commentsDisplay_number {
    border-radius: 50%;
    text-align: center;
    height: 24px;
    width: 24px;
    line-height: 24px;
    border: solid 2px #ed471a;
    display: inline-block;
    font-size: 16px;
    font-style: normal;
}

li.spacer {
    margin-right: 25px;
}

.bottomFloater {
    background: url('../../images/tfalogoweb_tp.png') no-repeat;
    width: 200px;
    height: 150px;
    position: fixed;
    bottom: 15px;
    right: 0;
    opacity: .3;
}

#filmsDisplay {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    flex-wrap: wrap;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #000;
    width: auto;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    box-shadow: #222 0 0px 10px 1px;
    margin-top: 5px;    
}

.submenu li {
    display: block;
    margin: 0;
    padding: 0;
}

.submenu li:nth-child(1) {
    margin-left: 0;
}

.submenu li a:nth-last-child(1) {
    border-bottom: 0;
}

.submenu li a {
    color: #fff;
    display: block;
    padding: 12px;
    font-size: 20px;
    border-bottom: solid 1px #222;
}



img.i24 {
    width: 24px;
    vertical-align: baseline;
}

img.i30 {
    width: 30px;
    vertical-align: baseline;
}

hr {
    border: solid 1px #222;
}



#article_user h3 {
    border-bottom: solid 1px #ccc;
    font-size: 1rem;    
    font-weight: 600;
}

#article_user h3:nth-child(1) {
    
}

#article_user h3 span:nth-child(2) {
    display: block;
    padding: 0;
}

#article_user h3 img {
    width: 1rem;
    margin: 0px 10px;
    vertical-align: middle;
    padding-bottom: 5px;
}

.loader {
    background: url(/sandbox/images/loading_indicator.gif) no-repeat;
    display: block;
    background-position: center;
    height: 100px;
    background-size: 60px;
}

.showHide, .role_info {
    display: none;
}

label .instructions a {
    color: #666;
    text-decoration: none;
    font-size: 11px;    
}

.tooltip {
    position: absolute;
    background: #fff;
    color: #000;
    border: solid 2px #2c3e50;
    box-shadow: #476481 0 0 2px 1px;
    border-radius: 3px;
    font-size: 12px;
    padding: 5px;
    width: 200px;
}

.guilty {
    color: #ad0606;
}

.innocent {
    color: #0d7002;
}

#notification {
    display: none;
    border: solid 2px #e2574c;
    border-radius: 3px;    
}

#notification h3 {
    padding: 5px;
    /* border-bottom: solid 1px #e9e9e9; */
    /* box-shadow: #e2574c 0 0 2px 1px; */
    margin: 0;
    /* border-radius: 5px; */
    background: rgba(226, 87, 76, .2)
}

#notification p {
    padding: 5px;
}

#notification img {
    width: 24px;
    vertical-align: middle;
    margin-right: 5px;
}

a.search {
    position: absolute;
    margin-top: 3px;
    margin-left: 5px;
}

a.closeDialog {
    position: absolute;
    right: 3px;
    margin-top: 3px;
    color: #000;
    font-size: .8rem;
}

.dialog h2 span.byline {
    font-weight: 400;
    margin-left: 10px;
}

a.closeDialog:hover, a.closeDialog:focus {
    outline: dotted 1px #444;
}

input[type=search] {
    text-indent: 25px;
}

.sideActionButtons {
    padding: 10px;
}

.sideActionButtons button {
    width: 45%;
}

.postUpload {
    display: none;
}

.preUpload img.bannerDisplay {
    max-width: 150px;
    position: absolute;
    max-height: 100px;
    margin-left: 30px;
    margin-top: -15px;
}

.ck-editor__editable_inline {
    height: 200px;
}

.alert {
    border-radius: 3px;
    border: solid 1px #c00;
    box-shadow: #c00 0 0 2px 1px;
    padding: 5px;
    font-weight: 500;
    display: none;
}

.normal {
    box-shadow: none;
    border: solid 1px #999;
    padding: 10px;
}

span.exclamation i {
    vertical-align: bottom;
    color: #c00;
}

.photoSection {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: wrap;
}

.photoSection div {
    flex-basis: 22%;
    margin: 5px;
}

.photoSection div img {
    width: 100%;
    box-shadow: #777 0 0 2px 1px;
}

.hsphotoGallery {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    border: solid 1px #eee;
    margin: 5px;
    border-radius: 3px;
    padding: 10px;
}

.hsphotoGallery div {
    flex-basis: 20%;
    margin: 5px;
}

.hsphotoGallery div img {
    width: 100%;
    height: 100%;
    box-shadow: #777 0 0 2px 1px;
}

.photo-bg {
    height: 75px;
    background-size: contain !important;
    background-position: top center !important;    
}

.photo-bg:hover, .photo-bg:focus {
    box-shadow: #000 0 0 5px 1px;
}


.errorText {
    margin: 15px 0 15px 0;
    border-radius: 4px;
    box-shadow: #c00 0 0 2px 1px;
    font-weight: 500; 
    display: none; 
    text-align: left;
}

.errorText h3 {
    font-size: .95rem;
    font-family: 'Open sans', sans-serif;
    border-bottom: solid 1px #eee;
    padding: 5px 0 0 0;
    margin: 0 0 10px 0;
}

.errorText h3 span {
    font-size: .95rem;
    font-style: normal;
}

.errorText h3 i {
    vertical-align: bottom;
}

.errorText span {
    font-style: italic;
    font-size: .87rem;
    padding: 5px !important;
}

.none {
    display: none;
}

.role_info {
    vertical-align: top;
}

.role_info input, .role_info select, .role_info textarea {
    width: 90%;
}

.successfullyUploaded {
    display: none;
    text-align: center;
    padding: 10px;
}

.successfullyUploaded i {
    font-size: 56px;
    line-height: 90px;
    color: #14931a;
    display: block;
    margin-bottom: 5px;
}

.addScript {
    background-color: #538fef;
}

ul.binderList {
    margin-top: 10px;
    border-top: solid 1px #e9e9e9;
    padding-top: 5px;
}


ul.binderList li {
    display: block;
    height: auto;
    border-bottom: solid 1px #999;
    font-size: .8rem;
    margin-bottom: 25px;
    padding-bottom: 10px;
}

#resourcesLanding ul.binderList li {
    height: auto;
    padding-bottom: 8px;
}

div.binderIcon {
    width: 5%;
    display: inline-block;
    vertical-align: top;
}

div.binderIcon a {
    color: #000;
}

div.binderInfo {
    width: 92%;
    display:inline-block;
}

div.binderInfo strong {
    width: 70px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    vertical-align: top;
}

.binderLink {
    display: block;
    padding: 3px 1px;
    text-align: center;
}

.binderLink:hover, .binderLink:focus {
    outline: dotted 1px #000;
}

.binderDetail {
    display: inline-block;
    width: 75%;
}

div.binderIcon img {
    width: 24px;
    vertical-align: super;
}

.binderActions {
    position: absolute;
    margin-left: 63%;
    margin-top: 3px;
}

.binderActions a {
    text-decoration: none;
    color: #db5151;
}

.binderActions a:hover, .binderActions a:focus {
    color: #4f0000;
}

.columns div.sectionContent {
    flex-flow: column;
}

.papers {
    flex-basis: 15%;
    text-align: center;
    box-shadow: #999 0px 3px 5px 1px;
    margin: 0 25px 0 0;
}

.papers .script .title {
    padding: 0;
    margin: 0;
}

.papers .script .title a {
    height: 150px;
    padding: 10px 5px 5px 5px;
    border-bottom: solid 1px #e9e9e9;
    color: #000;
    text-decoration:none;
    display: block;    
}

.papers .script .title a span {
    height:80px;
    display: block;
}

.papers .script .title a:hover, .papers .script .title a:focus {
    background: #444;
    color: #fff;
}

.script .title img {
    margin-top: 10px;
    width: 40px;
    opacity: .3;
}

.papers .script .details {
    height: 25px;
    line-height:25px;
}

.myPhotoGallery {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #222;
    border-radius: 3px;
    padding: 10px;
    justify-content: center;
}

.myPhotoGallery div {
    flex-basis: 20%;
    text-align: center;
    background: #222;
    margin: 0;
    padding: 5px 0 15px 0;
}

.myPhotoGallery div img {
    max-height: 150px;
    box-shadow: #111 0 0 7px 5px;
    border-radius: 5px;
}

#myAccount div#myPhotosDiv {
    padding: 0;
    background: #222;
    min-height: 300px;
}

#headshotReminder {
    display: none;
    position: absolute;
    width: 200px;
    border-radius: 4px;
    border: solid 2px #ff9b05;
    box-shadow: #ff9b05 0 0 10px 1px;
    background-color: #fff;
    z-index: 21344;
    margin-left: -199px;
    padding: 0;
}

#headshotReminder h3 {
    margin: 0;
    padding: 3px;
    border-bottom: solid 1px #e9e9e9;
    font-weight: 500;
}

#headshotReminder p {
    font-size: .8rem;
    padding: 3px;
    text-align: center;
}

.user_comment {
    padding: 0;
    border: solid 1px #c9c9c9;
    border-radius: 3px;
    margin-bottom: 15px;
}

h4.user_comment_name {
    margin: 0;
    font-family: 'Open sans', sans-serif;
    letter-spacing: 0;
    font-weight: 600;
    font-size: .85rem;
    border-bottom: solid 1px #c9c9c9;
    display: block;
    padding: 5px 0 0 65px;
    background: rgba(32, 99, 185, 0.4);
}

.user_comment .byline {
    padding: 5px 0 0 65px;
}

.user_comment .user_comment_text {
    font-size: .8rem;
    padding: 0 5px 5px 65px;
}
.screen-reader-only {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px 1px 1px 1xp);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

#whyRegister {
    display: block;
    border-radius: 3px;   
    border: solid 2px rgba(107, 159, 231, 0.2);
}

#whyRegister h3 {
    background: rgba(107, 159, 231, 0.2);
    padding: 5px;
    margin: 0;    
}

#whyRegister h3 i {
    vertical-align: middle;
}

#whyRegister p {
    font-size: .9rem;
    padding: 5px;
    margin: 5px;
}

#whyRegister img {
    width: 24px;
    vertical-align: middle;
    margin-right: 5px;
}

.whyJoin {
    list-style: circle;
    padding: 0 10px 5px 10px;
    margin: 0 10px 5px 10px;
    width: 90%;
    font-size: .88rem;
}

.whyJoin li {
    border-bottom: dotted 1px #e9e9e9;
    margin: 10px 0;
    padding: 5px 0;
}

.storyComments {
    padding: 10px;
}

.storyComments h3 {
    border-bottom: solid 1px #e9e9e9;
    margin-left: 10px;
    font-weight: 400;
}
