body {
	
}

table tbody tr td {
    font-size: .8rem;
}

table tbody tr.unread {
    font-weight: 700;
}

table tbody tr:hover {
    cursor: pointer;
    box-shadow: #000 0 0 2px 1px;
    background-color: #000;
    color: #fff;
}