.execMember {
	width: 100%;
	display: block;
	border-bottom: solid 1px #ccc;
}

.sectionContent {
    flex-flow: column !important;
}

.sectionContent h3.filmdetailh3 {
    display: inline;
    position: absolute;
    margin-left: 18%;
    width: 57%;
}

h3 {
    margin-top: 10px;
    font-weight: 500;
    font-size: .9rem;
    border-bottom: solid 1px #c9c9c9;
    display: block;
}

.filmposter {

}

.filmposter img {
    border-radius: 3px;
    box-shadow: #333 0 0 3px 1px;
    margin-left: 1%;
    width: 22%;
}

.filmdetails {
    position: absolute;
    margin-left: 18%;
    margin-top: 35px;
    width:57%;
}

.filmdetails ul {
    display: block;
    width: 100%;
}

.filmdetails ul li {
    display: block;
    width: 100%;
}

.filmdetails ul li strong {
    width: 25%;
    display: inline-block;
    font-size: .89rem;
}

.filmdetails ul li span {
    font-size: .89rem;
}

.charges {

}

.charges h1, .charges h2, .charges h3, .charges h4, .charges h5, .charges h6 {
    font-family: 'Open sans', sans-serif;
    color: #666;
    background-color: #fff;
    color: #000;
    border: 0;
    margin: 0;
    padding: 0;   
    box-shadow: none;
    border-bottom: 0 !important; 
}
.charges h1 {
    font-size: 1.4rem;
}

.charges h2 {
    font-size: 1.2rem;
}

.charges h3 {
    font-size: 1rem;


}

.charges dl {

}

dt {
    margin: 0 10px;
    padding: 0 10px;
    border-bottom: solid 1px #eee;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'Steelface';
    text-transform: uppercase;
}

.defenses {

}

.defenses dl {

}

.closingarguments {

}

.closingarguments p {

}

.currentReviews li {
    padding: 3px 5px;
    margin: 10px 0;
    border-bottom: solid 2px #eee;
}

.currentReviews li a {
    margin-right: 15px;
    font-size: .9rem;
    color: #000;
    text-decoration: none;
}

.currentReviews li a:hover, .currentReviews li a:focus {
    outline: dotted 1px #000;
    outline-offset: 2px;
}

.dispImg {
    display: inline-block;
    width: 25%;
    min-height: 268px;
    border-radius: 3px;
    box-shadow: #999 0 0 1px 1px;
}

.dispContent {
    width: 73%;
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
}

.dispContent h3 {
    border-bottom: solid 1px #ccc;
    font-weight: 400;
}

.dispSummary {
    font-weight: 300 !important;
    font-size: .85rem !important;
}

.dispSummary strong {
    font-weight: 300 !important;
    font-size: .8rem;
}