body {
	
}

.storyComments {
    padding: 10px;
}

.user_comment {
    margin-bottom: 30px;
}

.user_comment .byline {
    margin-left: 0;
    padding-left: 0;
    font-size: .7rem;
    font-weight: 400;
}

.user_comment .tfa_headshot {
    margin-top: -15px;
    margin-left: -5px;
}

h4.user_comment_name {
    padding: 5px 0 0 55px;
}