body {
	
}

main section div.sectionContent {
    flex-flow: column !important;
}

.clone_me {
    margin-bottom: 10px;
    border-bottom: solid 2px #999;
    border-top: solid 1px #888;
    background-color: #222;
}

.background_banner {
    display: block;
    height: 150px;
    z-index: 1;
}

.post_title {
    position: absolute;
    width: 75%;
    z-index: 31;
}

.post_info {
    position: absolute;
    margin-top: 30px;
    padding: 15px;
    width: 75%;
    z-index: 31;
}

.postinfostuff div {
    position: absolute;
    top: 0;
    width: 94%;
    height: 100%;
    /* background-color: #000; */
    opacity: .8;
    z-index: -1;
    border-radius: 3px;
}

.postinfostuff span {
    z-index: 41;
    padding: 5px;
    color: #fff;
}

.post_actions {
    z-index: 31;
    position: absolute;
    margin-top: 115px;
    margin-left: 25px;
}

 .clone_me h3 {
    margin-top: 10px;
    font-weight: 500;
    /* font-style: italic; */
    font-size: .9rem;
    border-bottom: solid 1px #c9c9c9;
    display: block;
    padding-left: 15px;
    color: #fff;
 }

 .byline {
    text-align: left;
    z-index: 35;
    color: #fff;
    padding-left: 5px;
 }

 .post_actions button {
    box-shadow: #fff 0 0 10px 2px;
    margin-left: 15px;
 }