#whyRegister {
    display: block;
    border-radius: 3px;   
    border: solid 2px rgba(107, 159, 231, 0.2);
}

#whyRegister h3 {
    background: rgba(107, 159, 231, 0.2);
    padding: 5px;
    margin: 0;    
}

#whyRegister h3 i {
    vertical-align: middle;
}

#whyRegister p {
    font-size: .9rem;
    padding: 5px;
    margin: 5px;
}

#whyRegister img {
    width: 24px;
    vertical-align: middle;
    margin-right: 5px;
}

.whyJoin {
    list-style: circle;
    padding: 0 10px 5px 10px;
    margin: 0 10px 5px 10px;
    width: 90%;
    font-size: .88rem;
}

.whyJoin li {
    border-bottom: dotted 1px #e9e9e9;
    margin: 10px 0;
    padding: 5px 0;
}

.headshotWrap {
    padding: 15px 7px 0 7px;
    background-color: #fff;
    box-shadow: #333 0 0 11px 2px;
    position: absolute;
    margin: 3px 0 5px 15px;
}

.tfa_profile_headshot {
    height: 200px;
    width: 200px;
    /* margin: 3px 0 5px 15px; */
    background-color: #fff;
    border: solid 1px #555;
}

.headshotName {
    text-align: center;
    padding: 5px 5px 5px 5px;
    font-weight: 400;
    margin-top: 5px;
}

.headshotName img {
    width: 20px;
    margin: 5px;
}

.profile {
    padding: 10px 5px 10px 240px;
    font-size: .9rem;
    min-height: 210px;
}

h3.abs {
    position: absolute;
    margin-left: 10px;
    margin-top: -20px;
    font-weight: 700;
    border: solid 1px #c9c9c9;
    padding: 7px;
    background: #fff;
    border-radius: 3px;
    box-shadow: #ffa600 0 0 2px 1px;
    font-family: 'Limelight', cursive;
    color: #ffa600;
    background-color: #222;
}

h3.abs img {
    width: 20px;
    vertical-align: text-top;
    margin-right: 5px;
}

.profile .photoGallery {
    min-height: 135px;
    display: none;
    width: 97%;
    border: solid 1px #c9c9c9;
    border-radius: 3px;
    padding: 10px 0 2px 0;
    margin-left: 10px;
    margin-top: 40px;
    flex-flow: row;
    justify-content: center;
    flex-wrap: wrap;
}

.profile .photoGallery div {
    flex-basis: 10%;
    text-align: center;
    margin: 0 5px;
    padding: 5px 0 15px 0;
}

.profile .photoGallery img {
    max-height: 125px;
    box-shadow: #111 0 0 5px 1px;
    border-radius: 5px
}

.profile ul {

}

.profile ul li {

}

.profile ul li.links {
    padding-left: 10%;
}

.profile ul li strong {
    display: block;
    margin-bottom: 3px;
    font-weight: 500;
    border-bottom: solid 1px #f0f0f0;
}

.profile ul li span {
    display: inline-block;
    font-size: .8rem;
}

.profile ul li strong.block {
    display: block;
    width: 100%;
    text-align: left;
    padding: 8px 0 0 0;
    font-size: 1.1rem;
    font-weight: 500;
    border-bottom: solid 1px #e9e9e9;
    margin-left: 10px;
    margin-bottom: 10px;
}

.profile ul li span.block {
    padding-left: 15%;
}

.profile a img {
    width: 60px;
}

.topRoles {
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 20px;
    border: solid 1px #e9e9e9;
    margin: 0 0 10px 10px;
    border-radius: 3px;
    box-shadow: #c9c9c9 0 0 2px 1px;
}

.topRoles div {
    flex-basis: 19%;
    text-align:center;
}

.topRoles div img {
    width: 150px;
    height: 200px;
    border-radius: 3px;
    box-shadow: #333 0 0 2px 1px;
}

div.filmography {
    border: solid 1px #c9c9c9;
    margin-top: 40px;
    margin-left: 10px;
    padding-top: 20px;
    border-radius: 3px;
    box-shadow: #c9c9c9 0 0 2px 1px;
}

div.filmography ul {
    border-top: solid 1px #e9e9e9;
}

div.filmography ul li {
    border-bottom: solid 1px #c9c9c9;
}

div.filmography .poster {
    text-align: center;
    margin: 10px auto;
    width: 13%;
}

div.filmography .poster img {
    box-shadow: #444 0 0 2px 1px;
    width: 100%;
}

div.filmography .filmDetails {
    width: 85%;
    vertical-align: top;
}

div.filmography .filmDetails strong {
    vertical-align: top;
    margin-bottom: 2px;
    margin-left: 10px;
    width: 100%;
}

div.filmography .filmDetails span {
    width: 83%;
    margin-bottom: 10px;
    padding-left: 12px;  
}

.filmDetails a {
    color: #000;
    text-decoration: none;
    display: block;
}

.filmDetails a:hover, .filmDetails a:focus {
    outline: dotted 1px #000;
    text-decoration: underline;
}

.films {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 40px;
    border: solid 2px #444;
    padding: 20px 0;
    background: #222;
    border-radius: 4px;
    box-shadow: #222 0 0 2px 1px;
    margin-left: 10px;
}

.films div {
    flex-basis: 32%;
    box-shadow: rgba(255, 254, 201, 0.4) 0 0 30px 5px;
}

.films div iframe {
    /*width: 300px;*/
    height: 198px;
}

.memberInformation {
    border: solid 1px #c9c9c9;
    margin-left: 10px;
    padding-top: 20px;
    border-radius: 3px;
    box-shadow: #c9c9c9 0 0 2px 1px;
    font-size: .8rem;
}

.memberInformation strong {
    padding-left: 5px;
}

.memberInformation span {
    padding-left: 8px;
    margin-bottom: 10px;
}

.sidePhotoGallery {
display: flex;
    flex-flow: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px 5px 0 5px;
    background-color: #fff;
    /* box-shadow: #333 0 0 11px 2px; */
    position: absolute;
    margin: 310px 0 5px 15px;
    width: 203px;
    border: solid 1px #c9c9c9;
    border-radius: 2px;
}

.sidePhotoGallery div {
    flex-basis: 20%;
    margin: 2px;
}

.sidePhotoGallery div img {
    height: 50px;
    /* width: 48px; */
    border: solid 1px #999;
    border-radius: 2px;
}

#primaryRole, #secondaryRole {
    text-transform: capitalize;
}