.actionsRow {
    padding: 5px 10px;
    border-bottom: solid 1px #c9c9c9;
}

.arBottom {
    padding: 2px 0;
    text-align: center;
    border-bottom: 0;
    height: 50px;
    line-height: 50px;
}

.arBottom a {
    background-color: #fff;
    color: #000;
    border: 0;
    width: 100%;
    height: 50px;
    display: block;
    text-decoration: none;
    font-weight: 300;
    font-size: .9rem;
}

.arBottom a:hover {
    box-shadow: #000 0 0 35px 1px;
}

.container ul {

}

.container ul li {
    display: flex;
    min-height: 75px;
    border-bottom: solid 1px #e9e9e9;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.thisPoster {
    flex-basis: 25%;
    border-right: solid 1px #e9e9e9;
    text-align: center;
    font-size: .7rem;
    font-weight: 300;
    color: #666;
}

div.thisPoster iframe {
    height: 125px !important;
}

div.thisInfo {
    flex-basis: 75%;
}

div.thisInfo h4 {
    display: block;
    border-bottom: solid 2px #eee;
    margin: 0;
    padding: 3px 0 1px 5px;
}

.submittedDate {
    position: absolute;
    margin-top: -14px;
    right: 27%;
    font-size: .7rem;
    font-weight: 700;
    font-style: italic;
    color: #666;
}

.descrip {
    font-size: .85rem;
    color: #444;
    padding: 15px 5px 5px 5px;
    border-top: 1px solid #f9f9f9;
}

div.thisInfo .half {
    font-size: .85rem;
    color: #111;
    margin-bottom: 15px;
}

div.thisInfo .half strong {
    display: block;
    font-style: italic;
    font-size: .76rem;
    margin: 0;
    color: #666;
}

div.thisInfo .half span {
    margin: 0;
    margin-left: 10px;
    margin-top: -3px;
    position: absolute;
}

button.rounded {
    margin-top: -27px !important;
}

fieldset {
    display: block !important;
}

fieldset span {
    display: inline-block;
    width: 19%;
    margin: 5px 0;
}

fieldset input[type=checkbox] {
    display: inline-block;
    width: 14px !important;
}

div[data-dialog-id=addFilm] {
    width: 50% !important;
    left: 25% !important;
}

.datepicker-container {
    z-index: 2355456 !important;
}